.IMG-1 {
  width: 80%;
  height: 80%;
}
.First-Section-Text {
  margin-top: 25px;
  height: 300px;
  margin-right: 190px;
  margin-left: 190px;
}
.First-Section-Text a {
  color: white;
  letter-spacing: 20px;
}
.First-Section-Text p {
  color: white;
  letter-spacing: 2px;
}
.First-Section-Text button {
  background-color: #434447;
  padding: 10px;
  border-color: azure;
}
.IMG-Seconde-Section {
  width: 100%;
  height: 100%;
}
.Seconde-Section-IMGS a {
  font-weight: bold;
  cursor: pointer;
  background-color: blue;
}

.Seconde-Section {
  display: flex;
  flex-wrap: wrap;
  margin-left: 320px;
}
.Seconde-Section-IMGS {
  width: 40%;
  height: 40%;
}
