.content {
  /* background-color: red; */
}
.AerialShots {
  /* background-color: green; */
  border-radius: 25px;
  border: 1px solid black;
  margin: auto;
  justify-content: center;
  width: 60%;
}
.AerialShots img {
  width: 400px;
  height: 200px;
  border-radius: 25px;
  margin: 10px;
}

.inspections {
  border-radius: 25px;
  border: 1px solid black;
  margin: auto;
  justify-content: center;
  width: 60%;
}
.inspections img {
  width: 400px;
  height: 200px;
  border-radius: 25px;
  margin: 10px;
}
.content img {
  width: 50%;
  height: 50%;
}
